<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bankhome.css">
    
</head>


<body>

    <div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>


 

<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="animate-charcter"> USER BANK</h3>
      </div>
    </div>
  </div>
 
  

    <section class="work">
       
        <grid_items>
            <div class="card">
                
                <body1>
                    <a class="waviy" href="/bankhome/pending">
                      <span style="--i:1">P</span>
                      <span style="--i:2">E</span>
                      <span style="--i:3">N</span>
                      <span style="--i:4">D</span>
                      <span style="--i:5">I</span>
                      <span style="--i:6">N</span>
                      <span style="--i:7">G</span>
                    </a>
                   </body1>
                
            </div>
        </grid_items>
     
        
       
         <grid_items>
            <div class="card2">
                <body2>
                    <a class="waviy" href="bankhome/approved">
                      <span style="--i:1">A</span>
                      <span style="--i:2">P</span>
                      <span style="--i:3">P</span>
                      <span style="--i:4">R</span>
                      <span style="--i:5">O</span>
                      <span style="--i:6">V</span>
                      <span style="--i:7">E</span>
                      <span style="--i:8">D</span>
                    </a>
                   </body2>
                
            </div>
         </grid_items>


         <grid_items>
            <div class="card3">
              
                <body3>
                    <a class="waviy" href="bankhome/moneyaccuired">
                      <span style="--i:1">M</span>
                      <span style="--i:2">O</span>
                      <span style="--i:3">N</span>
                      <span style="--i:4">E</span>
                      <span style="--i:5">Y</span>
                      <span style="--i:6"> </span>
                      <span style="--i:7"> </span>
                      <span style="--i:8"> </span>
                      <span style="--i:9"> </span>
                      <span style="--i:10"> </span>
                      <span style="--i:11"> </span>
                      <span style="--i:12">A</span>
                      <span style="--i:13">C</span>
                      <span style="--i:14">Q</span>
                      <span style="--i:15">U</span>
                      <span style="--i:16">I</span>
                      <span style="--i:17">R</span>
                      <span style="--i:18">E</span>
                      <span style="--i:19">D</span>
                    </a>
                   </body3>
                
            </div>
         </grid_items>



         <grid_items>
            <div class="card4">

                <body4>
                <a class="waviy" href="bankhome/moneyrepayed">
                    <span style="--i:1">M</span>
                    <span style="--i:2">O</span>
                    <span style="--i:3">N</span>
                    <span style="--i:4">E</span>
                    <span style="--i:5">Y</span>
                    <span style="--i:6"> </span>
                    <span style="--i:7"> </span>
                    <span style="--i:8"> </span>
                    <span style="--i:9"> </span>
                    <span style="--i:10"> </span>
                    <span style="--i:11"> </span>
                    <span style="--i:12">R</span>
                    <span style="--i:13">E</span>
                    <span style="--i:14">P</span>
                    <span style="--i:15">A</span>
                    <span style="--i:16">Y</span>
                    <span style="--i:17">E</span>
                    <span style="--i:18">D</span>
                   </div>
                   </body4>
            </div>
         </grid_items>

        

        
    </section>
</body>