<%-include("./partials/header")-%>
<body class="min-h-screen grid grid-cols-4 gap-4">
    <a class="inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out absolute top-4 right-4" href="/logout">LOGOUT</a>
    <div class="w-72 h-72 bg-red-500 flex flex-col items-center justify-center mx-4 mt-32 rounded-xl shadow-2xl">
        <img src="https://picsum.photos/150" alt="">
        <p class="text-white">Name: Ayush Raj</p>
        <p class="text-white">Loan Amount: 400000/_</p>
        <p class="text-white">Bank: State Bank of India</p>
        <p class="text-white">Status: Pending</p>
    </div>
</body>
</html>