<%-include("./partials/header")-%>
<link rel="stylesheet" href="css/index.css">
  <body class="bg-teal-600 min-h-screen">
    <h2>Hover on the below dropdown button in navbar to open dropdown menu</h2>
<nav>

<div class="dropdown-menu">
<button class="menu-btn">Student <</button>
<div class="menu-content">
<a class="links-hidden" href="/studentlogin">Login</a>
<a class="links-hidden" href="/studentregister">Register</a>
</div>
</div>

<div class="dropdown-menu">
  <button class="menu-btn">Bank <</button>
  <div class="menu-content">
  <a class="links-hidden" href="/banklogin">Login</a>
  <a class="links-hidden" href="/bankregister">Register</a>
  </div>
</div>

<div class="dropdown-menu">
  <button class="menu-btn">Government <</button>
  <div class="menu-content">
  <a class="links-hidden" href="/govlogin">Login</a>
  <a class="links-hidden" href="/govregister">Register</a>
  </div>
</div>


</nav>

  </body>
</html>
