<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>LOANbuddy</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/" class="nav-item nav-link active">Home</a>
            <a href="/about" class="nav-item nav-link">About</a>
            <a href="/scholarship" class="nav-item nav-link">Scholarship</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Register/Login</a>
                <div class="dropdown-menu fade-down m-0">
                    <a href="/studentregister" class="dropdown-item">Register as student</a>
                    <a href="/studentlogin " class="dropdown-item">Login as student</a>
                    <a href="/bankregister" class="dropdown-item">Register as Bank</a>
                    <a href="/banklogin " class="dropdown-item">Login as Bank</a>
                    <a href="/govregister" class="dropdown-item">Register as Goverment</a>
                    <a href="/govlogin" class="dropdown-item">Login as Goverment</a>
                    
                </div>
            </div>
            <a href="/contact " class="nav-item nav-link">Contact</a>
            <a href="https://chatx-six.vercel.app/" class="nav-item nav-link">Chat With Us</a>
        </div>
        
    </div>
</nav>