<%-include("./partials/header")-%>
<body class="min-h-screen flex flex-col items-center">
    <h1 class="text-3xl">STUDENT LOAN REGISTER</h1>
    <form method="post" class="flex flex-col justify-center items-center space-y-2 w-64" action=<%= postUrl %>>
        <label class="font-bold" for="">Name</label>
        <input type="text" name="name" id="" class="border-2 border-black">
        <label class="font-bold" for="">Photo</label>
        <input type="file" id="stud-img" name="img" accept="image/*">
        <input type="hidden" class="hiddenField" name="studimgurl" id="stud-img-url" />
        <label class="font-bold" for="">Signature</label>
        <input type="file" id="stud-signature" name="signature" accept="image/*">
        <input type="hidden" class="hiddenField" name="studsignatureurl" id="stud-signature-url" />
        <label class="font-bold" for="">DOB</label>
        <input type="date" name="dob" id="">
        <label class="font-bold" for="">Address</label>
        <input type="text" name="address" class="border-2 border-black">
        <label class="font-bold" for="">PAN</label>
        <input type="text" name="pan" class="border-2 border-black">
        <label class="font-bold" for="">Aadhaar</label>
        <input type="text" name="aadhaar" class="border-2 border-black">
        <label class="font-bold" for="">Select Bank</label>
        <select name="bank" id="">
            <option value="State Bank of India">State Bank of India</option>
            <option value="Punjab National Bank">Punjab National Bank</option>
            <option value="Central Bank of India">Central Bank of India</option>
            <option value="HDFC">HDFC</option>
        </select>
        <label class="font-bold" for="">Loan Amount</label>
        <input type="number" name="loan" id="" class="border-2 border-black">

        <label class="font-bold" for="">Co-Applicant Name</label>
        <input type="text" name="applicantname" id="" class="border-2 border-black">
        <label class="font-bold" for="">Co-Applicant Photo</label>
        <input type="file" id="co-app-img" name="applicantimg" accept="image/*">
        <input type="hidden" class="hiddenField" name="coappimgurl" id="co-app-img-url" />
        <label class="font-bold" for="">Co-Applicant Signature</label>
        <input type="file" id="co-app-signature" name="applicantsignature" accept="image/*">
        <input type="hidden" class="hiddenField" name="coappsignatureurl" id="co-app-signature-url" />
        <label class="font-bold" for="">Co-Applicant DOB</label>
        <input type="date" name="applicantdob" id="">
        <label class="font-bold" for="">Co-Applicant Address</label>
        <input type="text" name="applicantaddress" class="border-2 border-black">
        <label class="font-bold" for="">Co-Applicant PAN</label>
        <input type="text" name="applicantpan" class="border-2 border-black">
        <label class="font-bold" for="">Co-Applicant Aadhaar</label>
        <input type="text" name="applicantaadhaar" class="border-2 border-black">

        <label class="font-bold" for="">Institute Name</label>
        <input type="text" name="institutename" class="border-2 border-black">
        <label class="font-bold" for="">Bonafide</label>
        <input type="file" id="bonafide" name="bonafide">
        <input type="hidden" class="hiddenField" name="bonafideurl" id="bonafide-url" />
        <label class="font-bold" for="">Fee Structure</label>
        <input type="file" id="fee-structure" name="feestructure">
        <input type="hidden" class="hiddenField" name="feestructureurl" id="fee-structure-url" />

        <button type="submit" class="bg-blue-500 hover:bg-blue-800 p-4 rounded-md shadow-xl text-white font-bold">Submit</button>
    </form>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/studLoanRegister.js"></script>
</body>
</html>