

html {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(129, 187, 241) 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.container {
  padding-bottom: 80px;
}
.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.work {
  display: grid;

  grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
}

heading {
  text-align: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

grid_items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  margin: 15px 10px;
}
.card {
  width: 900px;
  height: 100px;
  border-radius: 25px;
  box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
  transition: 0.2s ease-in-out;
  background-color: rgb(168, 231, 252);
  text-align: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body1 {
  display: flex;
  justify-content: center;
  min-height: 50vh;
  padding-top: 20px;
}
body2 {
  display: flex;
  justify-content: center;
  min-height: 50vh;
  padding-top: 20px;
}
body3 {
  display: flex;
  justify-content: center;
  min-height: 50vh;
  padding-top: 20px;
}
body4 {
  display: flex;
  justify-content: center;
  min-height: 50vh;
  padding-top: 20px;
}
.waviy {
  position: relative;
}
.waviy:hover{
  cursor: pointer;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #000;
  text-transform: uppercase;
  animation: flip 3s infinite;
  animation-delay: calc(0.2s * var(--i));
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

.card2 {
  width: 900px;
  height: 100px;
  border-radius: 25px;
  box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
  transition: 0.2s ease-in-out;
  background-color: rgb(134, 220, 248);
  text-align: center;
}
.card3 {
  width: 900px;
  height: 100px;
  border-radius: 25px;
  box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
  transition: 0.2s ease-in-out;
  background-color: rgb(95, 198, 233);
  text-align: center;
}
.card4 {
  width: 900px;
  height: 100px;
  border-radius: 25px;
  box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
  transition: 0.2s ease-in-out;
  background-color: rgb(37, 186, 236);
  text-align: center;
}

h1 {
  padding-bottom: 2px;
}

h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  padding-bottom: 30px;
  text-decoration: solid;
}

.card:hover {
  transform: scale(1.04);
  box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.3);
}
.card2:hover {
  transform: scale(1.04);
  box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.3);
}
.card3:hover {
  transform: scale(1.04);
  box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.3);
}
.card4:hover {
  transform: scale(1.04);
  box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.3);
}

.animate-charcter {
  text-transform: uppercase;
  text-align: center;
  font-weight: 350;
  padding-left: 430px;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 90px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
