body {
  font-family: "Heebo", sans-serif;
  background-image: url(../img/2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  color: white;
  border-color: white;
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
}

.card-title{
    font-size: large;
    font-weight: bold;
}

.btn {
  background-color: white;
  color: black;
}

.form-control {
  border-style: none;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
}

.form-control:focus {
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom-width: 2px;
  border-bottom-color: rgb(53, 160, 226);
}
